<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }} - GenHTTP Webserver</title>

    <link rel="stylesheet" href="{{ route 'res/vendors/bootstrap/bootstrap.min.css' }}">
    <link rel="stylesheet" href="{{ route 'res/vendors/themify/themify.css' }}">
    <link rel="stylesheet" href="{{ route 'res/vendors/owl/owl.theme.default.min.css' }}">
    <link rel="stylesheet" href="{{ route 'res/vendors/owl/owl.carousel.min.css' }}">

    <link rel="stylesheet" href="{{ route 'res/css/style.css' }}">

    <link rel="stylesheet" href="{{ route 'res/css/highlight/vs.css' }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <style type="text/css">

        .footer-area {
            padding-top: 0;
        }

        .hero-banner {
            background: url({{ route 'res/images/banner.jpg' }}) left center no-repeat;
        }

        .hero-banner-sm {
            padding-top: 110px;
            padding-bottom: 20px;
        }

        .section-margin {
            margin: 40px 0px;
        }

        .regular-list {
            list-style-type: circle;
            padding-left: 1em;
        }

    </style>

</head>

<body>

    <!--================ Header Menu Area start =================-->
    <header class="header_area">

        <div class="main_menu">

            <nav class="navbar navbar-expand-lg navbar-light">

                <div class="container box_1620">

                    <!-- <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a> -->

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">

                        <ul class="nav navbar-nav menu_nav justify-content-end">

                            <li class="nav-item{{ if (request.path == "/")}} active{{ end }}"><a class="nav-link" href="{{ route 'home' }}">Home</a></li>

                            <li class="nav-item submenu dropdown{{ if ( request.path | string.contains "documentation" ) }} active{{ end }}">

                                <a href="{{ route 'documentation/' }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Documentation</a>

                                <ul class="dropdown-menu">

                                    <li class="nav-item"><a class="nav-link" href="{{ route 'documentation/' }}">Getting Started</a>

                                    <li class="nav-item"><a class="nav-link" href="{{ route 'documentation/content/' }}">Providing Content</a>

                                    <li class="nav-item"><a class="nav-link" href="{{ route 'documentation/server/' }}">Server Setup</a>

                                    <li class="nav-item"><a class="nav-link" href="{{ route 'documentation/hosting/' }}">Hosting Apps</a>

                                </ul>

                            </li>

                            <li class="nav-item"><a class="nav-link" href="https://github.com/Kaliumhexacyanoferrat/GenHTTP">Source</a></li>

                            <li class="nav-item{{ if (request.path == "/legal")}} active{{ end }}"><a class="nav-link" href="{{ route 'legal' }}">Legal</a></li>

                        </ul>

                    </div>

                </div>

            </nav>

        </div>

    </header>
    <!--================Header Menu Area =================-->
    {{ if (request.path == "/") }}

    <section class="hero-banner text-center">
        <div class="container">
            <h1>GenHTTP Webserver</h1>
            <p class="hero-subtitle">Lightweight web server written in pure C# with few dependencies to 3rd-party libraries. Compatible with .NET Standard 2.0.</p>
            <a class="button button-outline" href="{{ route 'documentation/' }}">Get Started</a>
        </div>
    </section>

    {{ else }}

    <section class="hero-banner hero-banner-sm text-center">

        <div class="container">
            <h1>{{ title }}</h1>
        </div>

    </section>

    {{ end }}

    {{ content }}

    <!-- ================ start footer Area ================= -->
    <footer class="footer-area section-gap">

        <div class="container">

            <div class="footer-bottom row align-items-center text-center text-lg-left">

                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>

            </div>

        </div>

    </footer>

    <!-- ================ End footer Area ================= -->

    <script src="{{ route 'res/vendors/jquery/jquery-3.2.1.min.js' }}"></script>
    <script src="{{ route 'res/vendors/bootstrap/bootstrap.bundle.min.js' }}"></script>
    <script src="{{ route 'res/vendors/owl/owl.carousel.min.js' }}"></script>
    <script src="{{ route 'res/js/jquery.ajaxchimp.min.js' }}"></script>
    <script src="{{ route 'res/js/mail-script.js' }}"></script>
    <script src="{{ route 'res/js/main.js' }}"></script>

    <script src="{{ route 'res/js/highlight.pack.js' }}"></script>

    <script>hljs.initHighlightingOnLoad();</script>

</body>

</html>