<h2>Demonstration</h2>

<p>

    <video id="@Model.Data.ToLower()" class="video-js vjs-big-play-centered"
           controls preload="none" width="640" height="322" poster="/videos/@(Model.Data).png"
           data-setup="{ }">

        <source src="/videos/@(Model.Data).webm" type="video/webm" />

    </video>

</p>