h2 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 1em;
    margin-top: 1em;
}

body > p, pre, ul, blockquote {
    position: relative;
    margin-right: 4em;
    margin-left: 4em;
    max-width: 1024px;
}

@media (max-width: 768px) {

    body > p, pre, ul, blockquote, h2 {
        position: relative;
        margin-right: 2rem;
        margin-left: 2rem;
        max-width: initial;
    }

    body > table {
        margin-left: 1em;
    }

}

body > table {
    margin-left: 4em;
}

ul > li {
    margin-left: 1em;
}

code {
    color: #6128A1;
}

blockquote {
    padding: 0.5em;
    border-left: 5px solid #CCCCCC;
}

blockquote > p {
    margin: 0;
}

p > img {
    -webkit-box-shadow: 10px 10px 15px -4px rgba(170,170,170,1);
    -moz-box-shadow: 10px 10px 15px -4px rgba(170,170,170,1);
    box-shadow: 10px 10px 15px -4px rgba(170,170,170,1);
}

.note {
    font-weight: bold;
    color: #AAAAAA;
    margin-right: 0.5em;
}

.menu_nav {
    margin-right: 0;
    margin-left: 0;
}
