h2 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 1em;
    margin-top: 1em;
}

body > p, pre, ul {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 4em;
    padding-left: 4em;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

ul > li {
    margin-left: 1em;
}

pre {
    margin-left: 0.5em;
}

code {
    color: #6128A1;
}